@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/* Hero container */
.main-container {
    background-image: url('./images/bg-hero-desktop.svg');
}

/* navigation menu */
.main-nav {
    /* outline: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 80px 0 80px;
}

.btn-tryit {
    /* outline: 1px solid #000; */
    padding: 10px 60px 10px 60px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;
}

/* hero content */
.main-hero {
    outline: 1px solid #000;
    display: flex;
    padding: 40px 80px 0 80px;
}

.hero-content1 {
    outline: 1px solid #000;
    height: 300px;
}
