@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/* Hero container */
.main-container {
    background: hsl(193, 100%, 96%) url('./images/bg-hero-desktop.svg') no-repeat 0% 60%;
    background-size: 100%;
    min-height: 100vh; 
}

/* navigation menu */
.main-nav {
    /* outline: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 80px 0 80px;
    margin-bottom: 80px;
}

.btn-tryit {
    /* outline: 1px solid #000; */
    padding: 20px 70px 20px 70px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;
}

.btn-tryit:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* hero content */
.main-hero {
    /* outline: 1px solid #000; */
    display: flex;
    /* align-items: center; */
    padding: 0 80px 0 80px;
    /* min-height: 100vh; */
}

.hero-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* outline: 1px solid #000; */
    width: 36%;
}

.content-title {
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 600;
}

.text {
    /* outline: 1px solid #000; */
    font-size: 22px;
    padding: 15px 0 15px 0;
}

.btn-free {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    width: 330px;
    height: 70px;
    margin-top: 10px;
}

.btn-free:hover {
    background-color: hsla(322, 100%, 66%, 0.7);
}

.hero-image {
    width: 1000px;
    /* outline: 5px solid #000; */
    margin-left: 100px;
}

/* for main sub container */

.main-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* for the 3 subcontainer */
.subcontainer1 {
    margin-top: 160px;
}

.subcontainer1, .subcontainer2, .subcontainer3 {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 500px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.inner-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 120px;
    padding-bottom: 60px;
    width: 38%;
}

.innersub {
    margin-right: 50px;
}

.header-subcontainer {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
}

.subcontainer1 img{
    width: 38%;
    padding: 50px;
}
.subcontainer2 img{
    width: 38%;
    padding: 70px;
    margin-left: 120px;
}

.subcontainer3 img{
    width: 38%;
    padding: 50px;
}

.para-subcontainer {
    font-size: 22px;
    color: hsl(208, 11%, 55%);
}

/* registration for community container */
.community-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin-top: 122px;
    gap: 40px;
    margin-bottom: -100px;
    background-color: #fff;
    z-index: 1;
}

.community-header {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
}

.btn-free2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 26px;
    color: #fff;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background-color: hsl(322, 100%, 66%);
    cursor: pointer;
    width: 500px;
    height: 80px;
}

.btn-free2:hover {
    background-color: hsla(322, 100%, 66%, 0.7);
}

/* styles for Footer */
footer {
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    
}

.main-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 750px;
}

.main-footer-container img {
    filter: brightness(0) invert(1);
}

.image-logo {
    width: 300px;
}

.image {
    /* outline: 1px solid #fff; */
    width: 16px;
}

.social-image {
    /* outline: 1px solid #fff; */
    width: 50px;
}

/* footer container 1 */

.footer-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* outline: 2px solid #fff; */
    width: 28%;
    height: 500px;
    font-size: 23px;
    gap: 40px;
    margin-left: 120px;
}

.footer2-3_container {
    /* outline: 1px solid #fff; */
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: -50px;
}

.footer-container2, .footer-container3 {
    /* outline: 2px solid #fff; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    height: 500px;
    width: 50%;
    margin-top: 20px;
    gap: 30px;
}


.footer-container4 {
    /* outline: 2px solid #fff; */
    display: flex;
    height: 500px;
    margin-right: 300px;
    gap: 30px;
}

.reserved {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    margin: 0 120px 80px 0;

}